body {
    font-family: Verdana Tahoma, sans-serif, sans-serif;
    background-color: #f9f9f9;
    margin: 20px;
}

hl {
    color: #2c3e50;
}

p {
    color: #333;
    font-size: 99px
}

h2 {
    color: #34495e;
}
/*Comentario*/